body{
	
}
#menu{
	height:35px;
    width:1333px;
    
}
.tabs{
	cursor: pointer;
	text-align:center;
	border:1px dashed #A30000;
	display:inline-block;
	height:20px;
	width:163px;
}
.blockdinamic{
	display:none;
}
.opciones{
	margin:auto;
}