body{
	
}
#menu{
	height:35px;
    width:1333px;
    
}
.tabs{
	cursor: pointer;
	border-radius:10px;
	text-align:center;
	border:1px dashed #A30000;
	display:inline-block;
	height:30px;
	width:190px;
	color:#A60202;
	font-size:20px;
	margin:0px 10px;
}
.blockdinamic{
	display:none;
}
.opciones{
	margin:auto;
}
.opcionesMatricula{
	cursor:pointer;
	text-align:center;
	font-family: "Times New Roman";
	border: 1px dashed #13B701;
	border-radius:25px;
	font-size: 20px;
	color:white;
	margin:40px 300px;
	background-color:#18F000;
	height:50px;
	width:200px;
}