#mostrador{
	margin:60px 400px;
	width:500px;
	height:600px;
	background-color:#C4C4C4;
	border-radius:25px;
	color:#EDEDED;
}
.input{
	background: #eeeeee;
    border: none;
    border-radius: .5em;
    margin-bottom: 1em;
    padding: .5em .6em;
}
h2{
	font-size:30px;
	text-align:center;
}
button{
	margin-left:350px;
}